.animal-detail-title,
.friends {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.animal-info-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  flex-wrap: wrap;
}

.animal-info-card img {
  width: 50%;
  border-radius: 10px;
  margin-right: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.btn {
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #008cba;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
}
